<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/style.css">
        <title>Login and Registration</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light sticky-top">
            <a class="navbar-brand" href="/home">
                <img src="/static/img/RoseIcon.PNG" width="30" height="30" class="d-inline-block align-top" alt="">
                Roses, Buds, & Thorns
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/about_us">About Us</a>
                    </li>
                    {% if 'user_id' not in request.session %} 
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Sign In</a>
                    </li>
                    {% endif %} 
                    {% if 'user_id' in request.session %} 
                    <li class="nav-item">
                        <a class="nav-link" href="/review_types">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    {% endif %} 
                </ul>
                {% if 'user_id' not in request.session %}
                <span class="navbar-text mr-2">
                    Welcome!
                </span> 
                {% else %} 
                <span class="navbar-text mr-2">
                    Hello, <a href="/user_profile/{{user.id}}">{{user.first_name}}!</a>
                </span>
                {% endif %}
            </div>
        </nav>

        <h1 class="display-1 text-center">About Us</h1>

        <div class="jumbotron text-center mx-auto" style="min-height:400px; width:85%">
            <div class="container">
                <p class="lead">When COVID-19 quarantine hit, we had a lot 
                    of spare time on our hands. And, like a lot of people, we used
                    that time to read, play, and binge watch. There are a lot of 
                    review websites out there, but we wanted to combine them and use 
                    a simple review format! 
                </p>
                <p>Our format is separated into Rose, Bud, and Thorn. For the sake of everyone's good fun, try to remain spoiler free,
                    or at least announce any spoilers before they can be read. The first section, Rose, is where you write
                    all of the things that you love about the thing you're reviewing! Did the game have a great storyline?
                    Did that movie have you on the edge of your seat? Write it all here!
                </p>
                <p>In the Bud section, write something that you wish would be improved, or something that you hope they will add.
                    Did that video game have an interesting side story that you want a DLC for? Or maybe that TV show had an
                    interesting character that you hope gets a bigger role. This is the section for those thoughts.
                </p>
                <p>As for the Thorn section, this is where you will write any problems or dislikes that you had. Was that tabletop
                    game missing pieces? Maybe that book series never tied of all those loose ends, or the author killed off your 
                    favorite character. Any complaints go here! 
                </p>
                <hr class="my-4">
                <p class="lead">
                    <a class="btn btn-outline-secondary btn-lg" href="/success" role="button">Create A Review Here!</a>
                </p>
            </div>
        </div>

        <nav id="footer" class="navbar d-flex justify-content-center navbar-light text-center mt-2">
            <a class="navbar-brand" href="#">
                <img src="/static/img/TwitterIcon.png" width="30" height="30" class="d-inline-block align-top" alt="">
                <img src="/static/img/FacebookIcon.png" width="30" height="30" class="d-inline-block align-top" alt="">
                <img src="/static/img/InstagramIcon.png" width="30" height="30" class="d-inline-block align-top" alt=""> <br>
                Connect with us here!
            </a>
        </nav>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>